<!-- // NAME: RACHAEL AJAYI
// STUDENTID: 301146832
// DATE: 26th OCTOBER, 2022 --> 

<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      
      <h1 class="display-4">Welcome to the <%= title %> page of my express portfolio!</h1>
      <br>

      <table class="about"  border="0">
       
    <tr>
        <td>
            <a><img src="\assets\images\me.jpeg" alt="my picture" width="400" height="450"></a>
        </td> 

        <td>
            <h2 class="title">&nbsp; &nbsp; NAME:  &nbsp; <strong> RACHAEL AJAYI</strong> </h2>
            <br>

            I'm a Health Information Technology student at Centennial College.<br> I was born and raised in Warri, Nigeria.          
            I like to go to new places and have new experiences, through which i pick up new hobbies. <br><br>
            I believe having a new perspective to everything makes you think differently. <br>
            You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer.<br><br>
            Most of all you get to meet amazing people and grow your network. I would love to work with you and be a part of the team, attached below is a link to my resume
            <br> <br>
            
            <a href="\assets\Rachael_Ajayi_Resume.pdf" download>Click here to recieve a copy of my resume --></a>
            
    
         </td>
    
    </tr>
    </table>      
      
      
    </div>
  </main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 