<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->

<main class="container">
  <div class="jumbotron">
    
    <h1 class="display-4">Welcome to the <%= title %> page of my express portfolio!</h1>
    
    <br><br><br>
     
      <h3>"Welcome to those who believe in the power of dreams and who would like to join me in my exploration of life." ~ Bertrand Piccard </h3> <br> <br>
      
      You can <a href="/about">click here</a> to know more about me :)
      <br><br><br>
      <strong>Mission Statement</strong> <br>
      To provide High quality service in all that i am required to do as well as exceed expectations positively. <br> I aim to 
      keep growing and developing new skills along the way,no room for stagnancy. <br>I believe i can do anything i put my mind to.
    
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
