<!-- // FILENAME: Assignment 2
// NAME: RACHAEL AJAYI
// STUDENTID: 301146832
// DATE: 26th OCTOBER, 2022 -->

<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      
      <h1 class="display-4">Welcome to the <%= title %> page of my express portfolio!</h1>
      <br> <br>

    </table>
   
    
    <table>
    <tr>
    <td><img src="\assets\images\project3.PNG" width="350" height="190px"></td>
    <td>
    <strong>CartKing Software Requirement Specification</strong><br>
    Created the SRS document for a grocery delivery system with the aid of my teammates
    <br>
    Role: Documentation
    </td>
    </tr>
    <tr>
    <td><img src="\assets\images\project2.PNG" width="350" height="190px"></td>
    <td>
    <strong>HTML Table Calculator</strong><br>
    Implemeted Javascript and html skills to create a table calculator which takes 
    user input of rows and columns and generates a table accordingly with their number combinations.
    <br> For example if i was to enter 2 rows and coloumns the table created will have the following in each box: 1,1; 1,2; 2,1; 2,2
    <br>
    Role: Design,Implentation,Documentation
    </td>
    </tr>
    <tr>
    <td><img src="\assets\images\project1.PNG" width="350" height="190px"></td>
    <td>
    <strong>Capture The Dot, Online Game</strong><br>
    Designed, documented and implemented an online interactive game that allows the player to click on the dot to earn point. 
    The dot is set to gradually increase in speed to increase its difficulty, there is also a button to reset the speed as well as restart the game and reset score
    Role: Design, Documentation, Implentation
    </td>
    </tr>
    </table>
<br>

    </div>

  </main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 