<!-- // FILENAME: Assignment 2
// NAME: RACHAEL AJAYI
// STUDENTID: 301146832
// DATE: 26th OCTOBER, 2022 -->

<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      
      <h1 class="display-4">Welcome to the <%= title %> page of my express portfolio!</h1>
      <br><br>
      <h5>Here are the various services i offer:</h5>

      <div id="service">
        <p><i> Website Development</i></p>
        <p><i>App Development</i></p>
        <p><i>Database Development</i></p>
        <p><i>General Programming</i></p>
        <p><i>High Quality Customer Service</i></p>
        <p><i>Health Related technologies</i></p>
    </div> 
      
    </div>
  </main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 